/* OPÇÕES DE DESATIVAR E ATIVAR IMPRESSORA */

#divFunctions {
    position: absolute;
    top: 100px;
    right: 0;
    border-radius: 5px;
    background-color: rgb(255, 230, 0);
    font-weight: bold;
}

#divFunctions > form {
    background-color: rgb(255, 230, 0);
    color: #000;
    margin-bottom: 10px;
}
#divFunctions > form h2 {
    font-size: 1.2em;
}

#divFunctions > form input {
    background-color: #000;
    color: #fff;
    padding: 2px 4px;
    width: 100px;
}
#divFunctions > form input[value="Desativar"] {
    background-color: #fff;
    color: #000;
}

/* UTILIZADO PARA JS MUDAR ESTADO DO FORM */

.functionsOn {
    display: block;
}
.functionsOff {
    display: none;
}